* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Чтобы размеры элементов считались правильно */
}
body {
    /*background-color: #070707;*/
    overflow-y: auto; /* Убедитесь, что есть вертикальный скролл */
    height: 100%; /* Обеспечиваем, что весь контент видим и есть скроллинг */
}
