@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&display=swap');
.context {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url('https://i.postimg.cc/8zbLcjrW/porche-home-page1620x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}


.tittle {
    color: #ffffff;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 150px;
    position: relative;
    left: 40px;

    line-height: 0.8;
    top: 100px;
}
.tittle_about{
    background-color: #070707;
    padding-bottom: 100px;

}
.text_about{
    color: white;
    padding: 15px;
    font-size: 50px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-left: 100px;

}
.text_description_about{
    color: white;
    padding: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 100px;
}
.brand{
    color: #ffffff;
    font-size: 74px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 40px;
    position: relative;
}

.content_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;

}


.gallery_one{
    background-image:
    url('https://i.postimg.cc/bNMRhNFp/keramika-1.jpg');
    background-repeat: no-repeat;
    height: 40vh;
    width: auto;
    background-size: cover;
    transition: transform 0.4s ease;
}
.gallery_one:hover {
    transform: scale(1.05);
}
.gallery_two{
    background-image:
    url('https://i.postimg.cc/8CLcBMhP/dvigatel-1.jpg');
    background-repeat: no-repeat;
    height: 40vh;
    width: auto;
    background-size: cover;
    transition: transform 0.4s ease;
}
.gallery_two:hover {
    transform: scale(1.05);
}
.gallery_three{
    background-image:
    url('https://i.postimg.cc/Hkr1gmxq/zerkalo.jpg');
    background-repeat: no-repeat;
    height: 40vh;
    width: auto;
    background-size: cover;
    transition: transform 0.4s ease;
}
.gallery_three:hover {
    transform: scale(1.05);
}
.gallery_four{
    background-image:
    url('https://i.postimg.cc/MZtGZW6H/portfolio-2-scaled.jpg');
    background-repeat: no-repeat;
    height: 40vh;
    width: auto;
    background-size: cover;
    transition: transform 0.4s ease;
}
.gallery_four:hover {
    transform: scale(1.05);
}
.description_work{
    width: 100%;
    aspect-ratio: 5 / 1;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: flex-start;

}
.full_img{
    filter: brightness(40%);
    width: 101%;
    height: 100%;
    object-position: 50% 60% ;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}

.text_full_img_container{
    margin: 5%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    z-index: 2;
    color: #f1f1f1;
    background-color: rgba(255, 218, 84, 0.1);

    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 800;
    font-size: 25px;
}

