@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
.container{

    justify-content: center;
    background-color: #070707;
}
.service {
    margin-left: auto;
    padding: 10px;
    justify-items: center;

}

.itemServiceName {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 26px;
    padding: 10px;
    border: 1px solid #fbe349;
    width: 470px;
    text-align: center;
    color: #949497 ;
    background-color:#040303;
}
.selected {

    color: #949497;
    background-color: #040303;
    border-radius: 5px;
}

/* Одна ячейка */
.itemTableServiceName {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 26px;
    padding: 10px;
    border: 1px solid #fbe349;
    text-align: center;
    color: #949497;
    background-color: #272727;

}

/* Одна строка таблицы */
.tableRow {
    display: grid;
    grid-template-columns: 150px repeat(5, 80px); /* одна колонка для Type + 5 колонок для деталей */
    align-items: center;
}

/* Вся таблица */
.tableService {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 470px;
    margin-bottom: 50px;
}

.tableContent {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 5 колонок */
        max-width: 470px;
}


